<!doctype html>
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<style>
			@font-face {
				font-family: cheshi;
				src:url("TaiWanMingTicwTeXMing-2.ttf");
			}
			.main {
				margin: 0px auto;
				font-family: cheshi;
				/* width: 200px; */
				height: 220px;
				font-size: 30px;
				line-height: 45px;
				letter-spacing: 12px;
				writing-mode: vertical-rl;
				background-color: aquamarine;
				text-align: center;
			}
			.div1 {
				height: 200px;
				font-size: 30px;
				font-family: cheshi;
				text-align: center;
				background-color: burlywood;
			}
		</style>
	</head>
	<body>
		<div class="div1">我的博客</div>
		<div class="main">滿紙荒唐言 一把辛酸淚 都雲作者癡 誰解其中味 </div>
	</body>
</html>
