<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
	<script>
		MathJax = {
		  tex: {
			  inlineMath: [['$', '$'], ['\\(', '\\)']]
		  }
		};
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/rainbow.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
	<style>
		.main-div {
			width: 900px;
			margin: 0 auto
		}
        img {
            width: 100%;
        }
    </style>
  </head>
  <body>
    <div class="main-div">{{{ data }}}</div>
  </body>
</html>
