<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles.css">
  </head>
  <body>
    <div class="site-header">
      <span class="site-header-left">
        <span class="site-title">我的博客</span>
      </span>
      <span class="site-header-right">
        <span class="site-home"><a href="../index.html">首页</a></span>
        <span class="site-category">分类</span>
        <span class="site-archive">归档</span>
        <span class="site-about"><a href="about/index.html">关于</a></span>
      </span>
    </div>
    <div class="about-main">
      {{{ html }}}
    </div>
  </body>
</html>
