@font-face {
    font-family: 'LXGWWenKai-Regular';
    src: url('../font/LXGWWenKai-Regular.subset.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bree serif';
    src: url('../font/BreeSerif-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0000-007F;
}