<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ global.rootPath }}/css/style.css">
  </head>
  <body>
    {{> Header }}
    <div class="category-main">
      {{#each categoryInfos}}
        <div class="category-name">
          <a href="{{ ../global.rootPath }}/html/category/{{ categoryName }}.html">{{ categoryName }}({{ categorySize }})</a>
        </div>
      {{/each}}
    </div>
    {{> Footer }}
  </body>
</html>