<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/rainbow.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
        },
      };
      hljs.highlightAll();
    </script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    {{> Header }}
    <div class="post-main">
      <div class="post-header">
        <h2 class="post-title">{{ postMeta.title }}</h2>
        <p class="post-date">发布日期: {{ postMeta.date }}</p>
      </div>
      <div class="post-body">
        {{{ postHtml }}}
      </div>
    </div>
  </body>
  <script>
	//在table外层包装一个div，如果table超长则显示横向滚动条
    [].slice.call(document.querySelectorAll("table")).forEach(function (el) {
      var wrapper = document.createElement("div");
      wrapper.className = "table-area";
      el.parentNode.insertBefore(wrapper, el);
      el.parentNode.removeChild(el);
      wrapper.appendChild(el);
    });
  </script>
</html>