<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ global.rootPath }}/css/style.css">
  </head>
  <body>
    {{> Header }}
    <div class="archive-main">
      {{#each postList}}
        <div class="issue">
          <div class="issue-date">
            {{ postMeta.date }}
          </div>
          <div class="issue-title">
            <a href="{{ ../global.rootPath }}/html/{{ postMeta.title }}.html">{{ postMeta.title }}</a>
          </div>
        </div>
      {{/each}}
    </div>
    {{> Footer }}
  </body>
</html>
