<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ global.rootPath }}/css/style.css">
  </head>
  <body>
    {{> Header }}
    <div class="category-main">
      {{#each categoryList}}
        <div>
          <a href="{{ ../global.rootPath }}/html/category/{{ this }}.html">{{ this }}</a>
        </div>
      {{/each}}
      {{#each postList}}
        <div>
          <a href="{{ ../global.rootPath }}/html/{{ title }}.html">{{ date }} {{ title }}</a>
        </div>
      {{/each}}
    </div>
  </body>
</html>