<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>
  <body>
    {{> Header }}
    <div class="home-main">
      <div class="post-list">
        {{#each postList}}
          <div class="post-list-item">
            <div class="post-title">
              <a href="html/{{ postMeta.title }}.html">{{ postMeta.title }}</a>
            </div>
            <div class="post-meta">
              发布日期: {{ postMeta.date }}
            </div>
            <div class="post-content">{{ postMeta.abstract }}...
              <a href="html/{{ postMeta.title }}.html">阅读全文</a>
            </div>
            {{#if postMeta.cover}}
              <img src="{{ postMeta.cover }}" width="100%", height="250px", style="object-fit:cover"/>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>
