<div class="site-header">
  <span class="site-header-left">
    <span class="site-title"><a href="{{ global.rootPath }}/index.html">我的博客</a></span>
  </span>
  <span class="site-header-right">
    <span class="site-home"><a href="{{ global.rootPath }}/home.html">首页</a></span>
    <span class="site-archive"><a href="{{ global.rootPath }}/html/archive.html">归档</a></span>
    <span class="site-category"><a href="{{ global.rootPath }}/html/category.html">分类</a></span>
    <span class="site-about"><a href="{{ global.rootPath }}/html/about.html">关于</a></span>
  </span>
</div>