doctype html
html
    head
        meta(charset="UTF-8")
        title LiuYun's Blog
        link(rel="icon" href="./image/favicon.ico")
        link(rel='stylesheet', href='../css/global.css')
    body
        include ../common/header
        p I am a programmer who loves tinkering.
        include ../common/footer