doctype html
html
    head
        meta(charset="UTF-8")
        title LiuYun's Blog
        link(rel="icon" href="./image/favicon.ico")
        link(rel='stylesheet', href='./css/global.css')
        link(rel='stylesheet', href='./css/home.css')
    body
        include ../common/header
        each item in postList
            .post-group
                .post-year #{item[0]}
                .post-list
                    each post in item[1]
                        .post-item
                            a(href=`page/${post.id}.html`) #{post.title}
                            span #{post.date}
        include ../common/footer