doctype html
html
    head
        meta(charset="UTF-8")
        title LiuYun's Blog
        link(rel="icon" href="./image/favicon.ico")
        link(rel='stylesheet', href='./css/global.css')
        link(rel='stylesheet', href='./css/home.css')
        script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3626960781511679" crossorigin="anonymous")
    body
        include ../common/header
        each item in postList
            .post-group
                .post-year #{item[0]}
                .post-list
                    each post in item[1]
                        .post-item
                            a(href=`page/${post.id}.html`) #{post.title}
                            span #{post.date}
        include ../common/footer